# Dependencies
node_modules
# Ignore Next.js build output
.next/
**/node_modules
cdk/.venv
**/__pycache__
*.pyc
next-env.d.ts
amplify-outputs.json
# Build outputs
**/dist
**/build
**/cdk.out

# Environment files
.env
.env.*
!.env.example

# IDE files
.idea
.vscode
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db